.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.widget {
  width: 45%;
  border: 1px solid black;
  box-shadow: 1px solid black;
}
