.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.widget {
  width: 45%;
  border: 1px solid black;
  box-shadow: 1px solid black;
}

.widget form {
  margin: 1rem;
}

.widget h1 {
  color: white;
  background-color: rgb(11, 11, 133);
  margin: 0;
  padding: 1rem;
}

.widget form div {
  display: ƒlex;
}

.widgetHeader {
  margin-bottom: 0.5rem;
}

.widget form input {
  width: 3rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
