.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.widget {
  text-align: center;
  width: 45%;
  border: 1px solid black;
  box-shadow: 1px solid black;
}

.widget form {
  text-align: left;
  margin: 1rem;
}

.widget h1 {
  color: white;
  background-color: rgb(11, 11, 133);
  margin: 0;
  padding: 1rem;
  height: 5rem;
}

.widget p {
  margin: auto;
  padding: 1rem;
}

.widget form div {
  display: ƒlex;
}

.widgetHeader {
  margin-bottom: 0.5rem;
}

.widget form input {
  width: 3rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.slidecontainer {
  margin: 0.5rem;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.button {
  width: 60%;
  color: rgb(118, 197, 0);
  border: 1px solid rgb(118, 197, 0);
  border-radius: 0.5rem;
  background-color: white;
  padding: 1.5rem;
}

.isHelpful {
  text-align: right;
  margin: 0.5rem;
  padding: 0.5rem;
}

.isHelpful a {
  margin: 0.5rem;
}

.isHelpful a:hover {
  cursor: pointer;
}
